<div class="row">
    <div class="row__cell row__cell--fill">
        <div class="lists">
            <ul class="nes-list is-circle">
                <li>Realizado en Angular 13</li>
                <li>Nes.css para estilo retro <i class="snes-logo is-small"></i> </li>
                <li>Si perdiste, debes refrescar la página</li>
            </ul>
        </div>
    </div>
    <div class="row__cell row__cell--25">
        <app-board></app-board>
    </div>
    <div class="row__cell row__cell--fill"></div>
</div>